# nebula3-python
# qdrant-client
# sentence-transformers
# ray[default]
# autogen-agentchat
# autogen-ext[openai]
# python-dotenv

ray[default]==2.54.0
autogen-agentchat>=0.4.0
autogen-ext[openai]>=0.4.0